<h2><%= @contact.first%>'s Address Page!</h2>

<h4>Street Address: <%= @contact.address.street_address%></h4>
<h4>City: <%= @contact.address.city%></h4>
<h4>State: <%= @contact.address.state%></h4>
<h4>Zip Code: <%= @contact.address.zip%></h4>
